body{
   background-image: url(https://seekflag.com/app/uploads/2022/03/Navy-Admiral-Flag-02-1.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   overflow: hidden;

}
h1{
    text-align: center;
    font-family: sans-serif;
    color: beige;
    
}
h2{
    text-align: center;
    font-family: serif;
   color: beige;
}
ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

li{
    list-style: none;
    height: 40px;
    width: 110px;
    margin: 10px;
    background-color: rgb(215, 214, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;    
}